body{
    font-family: 'Titillium Web', sans-serif;
}
/* img{
    width: 100%;
    height: 20rem;
} */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Rubik:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Open+Sans:wght@300&family=Rubik:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed&family=Montserrat:wght@600&display=swap');
:root {
    --green: #0d9979;
    --white: #FFFFFF;
    --red: red;
    --green2: green;
    --green3: rgb(83, 188, 83);
}

* {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    transition: all 0.5s cubic-bezier(.37, 1.14, .26, 1.24);
    scroll-behavior: smooth;
}

*::selection {
    background: var(--green);
    color: #FFFFFF;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}


/*header*/

.heading {
    position: relative;
    padding-top: 400px;
    text-align: center;
    font-size: 4rem;
    color: white;
}

.heading i {
    color: var(--green2);
    font-size: 2rem;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:#ff9933;
    box-shadow: 0 .1rem .3rem rgba(0, 0, 0, 3);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 1 rem 5rem;
    height: 80px;
    width: 100%;
}

header .logo {
    color: green;
    color: rgb(128, 0, 0);
    font-size: 4rem;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-around;
    padding: 0 10px; 
    
}

header .navbar ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

header .navbar ul li {
    margin: 0 1rem;
}

header .navbar ul li a {
    font-size: 1.5rem;
    color: green
}

header .navbar ul li a:hover {
    color: var(--green);
}

header .fa-bars {
    font-size: 3rem;
    color: #666;
    cursor: pointer;
    display: none;
}

header .navbar ul li .user {
    font: var(--white);
    font-size: 1.1rem;
    font-family: 'Rubik', sans-serif;
}

header .navbar ul li .user i {
    font-size: 2rem;
}


/*Home*/

.donate-background {
    min-height: calc(120vh - 76px);
    background: url(images/swa_cover_donate.png);
    position: relative;
}

.donate-content {
    color: var(--mainWhite);
    margin-top: -4rem;
}

.home h1 {
    text-align: center;
    font-size: 7rem;
    color: var(--white);
    padding: 1rem;
    padding-top: 7rem;
    font-family: 'Archivo Black', sans-serif;
}
.div1{
    text-align: center;
    margin: 50px;
    color: rgb(8, 145, 38);
}
 .div1 .head1{
     font-weight: bolder;
     letter-spacing: 2px;
 }

.div1 p{
    font-size: large;
    font-weight: 400;
}

.div2 h5{
    letter-spacing: 1px;
    text-align: center;
    font-weight: bold;
    margin: 20px;
    margin-bottom: 50px;
    
}

.head2{
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 50px;
    font-weight: bold;
    color: rgb(8, 81, 129);
}

section img{
    height: 200px;
    
    width: fit-content;

}
section h3{
    text-align: center;
    padding: 100px;
}

#account h3{
    line-height: 50px;
    letter-spacing: 1px;
    margin-top: 70px;
    margin-bottom: 70px;
    color: rgb(8, 81, 129);
}

.quote{
    text-align: center;
    letter-spacing: 1px;
    color: rgb(192, 48, 12);
    font-family: 'Akaya Kanadaka', cursive;
}

.quote-name{
    text-align: right;
    margin-right: 20rem;
    color: rgb(192, 48, 12);

}

.navbar{
    margin-bottom: none;
}

#xs{
    margin-top: 500px;
}

#sm{
    margin-top: 500px;
}